.card{

       height: 450px;
       width: 280px;
       padding: 10px;
       margin: 20px;
       border: 1px solid black;
       border-radius: 15px;    
   display: flex;
   flex-direction: column;
   align-items: center;
   }
   .card img{
       overflow: none;
       object-fit: cover;
       width: 100%;
   }
   form {
   border: 2px solid #333;
   margin: 20px auto;
   border-radius: 8px;
   padding: 20px;
   width: 280px;
   background: #f8f9fa;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   align-items: center;
}
#id{
   width: 200px;
   height: 25px;
}

.buttn {
   font-size: 16px;
   padding: 8px 12px;
   border: none;
   background: #007bff;
   color: white;
   cursor: pointer;
   border-radius: 4px;
  
}

.buttn:hover {
   background: #0056b3;
}
