body {
   background-image: url("https://github.blog/wp-content/uploads/2024/02/AI-DarkMode-3-1.png?fit=1200%2C630");
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   margin: 0;
}
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   width: 100%;
}
.card {
   width: 370px;
   padding: 15px;
   background: rgba(255, 255, 255, 0.3); /* Glass effect */
   backdrop-filter: blur(10px);
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
   border: 2px solid rgba(0, 0, 0, 0.3);
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   transition: transform 0.3s ease-in-out;
}
.card:hover {
   transform: translateY(-5px);
}
.card img {
   width: 100%;
   height: 230px;
   object-fit: cover;
   border-radius: 10px;
   overflow: hidden;
}
form {
   border: 2px solid #333;
   border-radius: 8px;
   padding: 20px;
   width: 370px;
   background: rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(10px);
   box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   align-items: center;
}
#id {
   width: 80%;
   height: 35px;
   padding: 5px;
   margin-bottom: 10px;
   border: 2px solid #007bff;
   border-radius: 5px;
   outline: none;
   transition: 0.3s;
}
#id:focus {
   border-color: #0056b3;
   box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}
.buttn {
   font-size: 16px;
   padding: 10px 20px;
   border: none;
   background: linear-gradient(135deg, #007bff, #0056b3);
   color: white;
   cursor: pointer;
   border-radius: 5px;
   transition: 0.3s ease-in-out;
}
.buttn:hover {
   background: linear-gradient(135deg, #0056b3, #003d80);
   transform: scale(1.05);
}
